@using BlazorTodoList.Data.ToDo

<ul>
    
        <li>
            <input type="checkbox"/>
            <input />    
        </li>
    
</ul>

@code{
    [Parameter]
    public TodoItem todo { get; set; }

}